{
  "semi": suitable-semi-option,
  "trailingComma": suitable-trailingComma-option,
  "singleQuote": suitable-singleQuote-option,
  "printWidth": suitable-printWidth,
  "tabWidth": suitable-tabWidth
}